.plane {
    /* height: 450px; */
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    /* Safari */
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #e1f5fe;
}

.brcls {
    flex-basis: 100%;
    display: flex;
}

.boxbr {
    /* height: 148px; */
}